{% extends "base.html" %}
{% load static %}
{% block body %}
 <!-- loader -->
    <div class="loaders">
        <div class="loader"></div>
    </div>
    <!-- loader -->



    <!-- banner-top  -->
    <section class="banner-top margintop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-title">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-top  -->


    <!-- mission-vision -->
    <section class="mission-vision">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="mision">
                        <h2>Our Mission</h2>
                        <p>O’Dell Tech’s mission is to build a long-term relationship with our customers, to provide exceptional services that exceed expectations, by pursuing business through innovation, advanced technology, and adding value.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="mision">
                        <h2>Our Vision</h2>
                        <p>O’Dell Tech’s vision is to become the leader of choice for solutions, regardless of the industry. We want to empower and unleash the potential of all our customers.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="mision">
                        <h2>What We Do</h2>
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Software, Apps & QA</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Web Design & Development</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Big Data Engineering</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Artificial Intelligence (AI)</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> OCR</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Server Management</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- mission-vision -->

    <!-- Technology  -->
    <section class="technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tools">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/Node-JS-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/JavaScript-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/Python-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/React-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/PHP-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/django-logo-positive-1024x357.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/MySQL-01.png' %}" alt="">
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/Microsoft-Dotnet-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/Angular-JS-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/JQuery-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/Vue-JS-01.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="tools-img">
                                    <img class="img-fluid" src="{% static  'img/Node-JS-02.png' %}" alt="">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="technologys">
                        <div class="technology-text">
                            <h3>Technology We Use</h3>
                            <p>O’Dell Tech is bound to serve the best services to the customers. So O’Dell Tech ensures that the best possible technology is being used. The best and latest technology is always been our priority and will be. Currently we
                                are using the trendy and latest technology like node js, Python, PHP, My SQL, JQuery, Vue js etc. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Technology  -->


    <!-- newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="news-box">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="news-title">
                                    <h2>Would you like to start a project with us?</h2>
                                    <p>Interested to start a project, lets talk.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="call">
                                    <a href="#" class="cusbtn">+88 01788 080 419</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- newsletter -->

{% endblock body %}