{% extends "base.html" %}
{% load static %}

{% block body %}



    <!-- services-area -->
    <section class="services-area margintop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h2>big-data-engineering</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-con">
                        <div class="content">
                            <p>A field to analyze and to extract information about the big data involved in the business or the data world so that proper conclusions can be made is called big data Analytics. These conclusions can be used to predict the future
                                or to forecast the business. Also, this helps in creating a trend about the past. Skilled professionals in statistics and engineering with domain knowledge are needed in the analysis of big data as the data is huge, and
                                analysis needs proper determination and skillset. This data is more complex that it cannot be dealt with with traditional methods of analysis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <img class="img-fluid" src="{% static 'img/75ez-min.gif' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area -->


    <!-- Our Services -->
   {% include "home_app/service.html" %}
    
    <!-- Our Services -->



    <!-- newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="news-box">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="news-title">
                                    <h2>Would you like to start a project with us?</h2>
                                    <p>Interested to start a project, lets talk.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="call">
                                    <a href="#" class="cusbtn">+88 01788 080 419</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- newsletter -->

{% endblock body %}