{% extends "base.html" %}
{% load static  %}

{% block body %}

    <!-- banner-top  -->
    <section class="banner-top margintop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-title">
                        <h1>Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-top  -->

    <!-- ontact-area -->
    <section class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="maps">
                        <h2>Our Location</h2>
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=mirpur%20dohs&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="mirpur dohs" aria-label="mirpur dohs"></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="touch">
                        <h2>Get In Touch</h2>
                        <h4>Reach Us</h4>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Flat 2A, House 1155, Road 10, Avenue 11, Mirpur DOHS</p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> support.odelltech@odell.com.bd ​</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> +88 0178 80 80 419</p>
                    </div>
                    <div class="callus">
                        <h4>Call us</h4>
                        <h3>+88 0178 80 80 419</h3>
                    </div>
                </div>
            </div>
    </section>
    <!-- ontact-area -->



{% endblock body %}

