{% extends "base.html" %}
{% load static %}

{% block body %}

   <!-- services-area -->
    <section class="services-area margintop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title2">
                        <h2>Human Resource Management Software</h2>
                        <p>Human Resource Management Software, Call: +8801788 080 419</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-con">
                        <div class="content">
                            <p>O”Dell Tech HR Management Software is a fully functional Human Resource Management (HR) software with human resource management, attendance, timesheet time attendance, and other fun features. Manage and track employee efficiency
                                with this great tool. O”Dell Tech HR Management Software also has Employee Self Service, which allows employees to keep track of their own time, leave, and others. O”Dell Tech, one of the best software development company
                                in Bangladesh are providing high-quality HR Management Software solutions which are very useful for small, medium and large business or company management. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <iframe class="elementor-video" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="O'Dell Tech HRM Software" width="100%" height="360" src="https://www.youtube.com/embed/wkovFjO0z6M?controls=0&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fodelltech.com&amp;widgetid=1"
                            id="widget2"></iframe>

                        <div class="demo">
                            <a href="#" class="cusbtn">SEE DEMO </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area -->


    <!-- software-details -->
    <section class="software-details">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="software-img">
                        <img class="img-fluid" src="{% static  'img/Untitled-design-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="software-con">
                        <h2>Dynamic Dashboard</h2>
                        <ul>
                            <li>Total Employees</li>
                            <li>Today’s Present</li>
                            <li>Today’s Absent</li>
                            <li>Today’s Leave</li>
                            <li>Total Absent</li>
                            <li>Total Late</li>
                            <li>Total Half Days</li>
                            <li>Current Leave Status</li>
                            <li>Monthly Attendance Summary</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="software-img">
                        <img class="img-fluid" src="{% static  'img/Untitled-design-2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="software-con">
                        <h2>Employee Management</h2>
                        <ul>
                            <li>Employees</li>
                            <li>Add Employees</li>
                            <li>Custom Field</li>
                            <li>Staff Directory</li>
                            <li>Import Employees</li>
                            <li>Employee Exit</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="software-img">
                        <img class="img-fluid" src="{% static  'img/Untitled-design-3.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="software-con">
                        <h2>Core HR Modules</h2>
                        <ul>
                            <li>Show Causes</li>
                            <li>Acknowledgements</li>
                            <li>Resignation</li>
                            <li>Movement Register </li>
                            <li>Warnings</li>
                            <li>Termination</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="software-img">
                        <img class="img-fluid" src="{% static  'img/Untitled-design-4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="software-con">
                        <h2>Time Sheet Module</h2>
                        <ul>
                            <li>Attendance Module</li>
                            <li>Monthly Timesheet</li>
                            <li>Timesheet Calendar</li>
                            <li>Date wise Attendance </li>
                            <li>Manual Check In Check Out</li>
                            <li>Overtime Management</li>
                            <li>Manage Holidays</li>
                            <li>Manage Leaves</li>
                            <li>Office Shifts</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="software-img">
                        <img class="img-fluid" src="{% static  'img/Untitled-design-4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="software-con">
                        <h2>HRM Reports</h2>
                        <ul>
                            <li>Customize Reports</li>
                            <li>Attendance Reports</li>
                            <li>Training Reports</li>
                            <li>Projects Reports </li>
                            <li>Tasks Reports</li>
                            <li>User Roles Report</li>
                            <li>Employees Report</li>
                            <li>Date wise Attendance Reports</li>
                            <li>Date wise Leave Reports</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- software-details -->


    <!-- support-area -->
    {% comment %} <section class="support-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h2>For More Supports</h2>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="support">
                        <ul>
                            <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> +88 01788 080 419</a></li>
                            <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> Request a Quote</a></li>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +88 01788 080 419</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <!-- support-area -->




{% endblock body %}

 
    