
{% extends "base.html" %}
{% load static %}

{% block body %}


 <!-- header-area -->


    <!-- services-area -->
    <section class="services-area margintop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h2>SERVER MANAGEMENT</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-con">
                        <div class="content">
                            <p>Companies depend on their server infrastructure for most IT functions, including data storage, hosting websites, emails, and applications. While many businesses have shifted to cloud services using servers located in enormous,
                                distant data centers, a significant number of organizations still have in-house servers or use a hybrid environment of in-house and cloud services to host server data requiring management. Managing a server, whether in-house
                                or in the cloud, means staying on top of hardware, software, security, and backups. In this guide, I explore how to best manage servers with an understanding of today’s server technology, security concerns, and touch on
                                the importance of having the right server monitoring software to support your efforts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <img class="img-fluid" src="{% static 'img/NLuD.gif' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area -->


    <!-- Our Services -->
   {% include "home_app/service.html" %}

    
    <!-- Our Services -->



    <!-- newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="news-box">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="news-title">
                                    <h2>Would you like to start a project with us?</h2>
                                    <p>Interested to start a project, lets talk.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="call">
                                    <a href="#" class="cusbtn">+88 01788 080 419</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- newsletter -->


{% endblock body %}
   

