{% extends "base.html" %}
{% load static %}

{% block body %}



    <!-- services-area -->
    <section class="services-area margintop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h2>SOFTWARE, APPS & QA</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-con">
                        <div class="content">
                            <p>Alongside world-class product portfolio, we also offer customized services for both profit and non-profit organizations. By crafting intelligent and efficient systems that tailor to the exclusive needs of wide array of our
                                clients worldwide.
                            </p>
                            <p>We adapt CMMI L5 project management procedure that complies with international standards. Furthermore, we have an exclusive team of certified professionals who relentlessly create and innovate, to stir up unsurpassed services
                                for all clients.</p>
                            <p>Alongside world-class product portfolio, we also offer customized services for both profit and non-profit organizations. By crafting intelligent and efficient systems that tailor to the exclusive needs of wide array of our
                                clients worldwide.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <img class="img-fluid" src="{% static 'img/1583733386.gif' %}" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="service-con">
                        <div class="content">
                            <p>We adapt CMMI L5 project management procedure that complies with international standards. Furthermore, we have an exclusive team of certified professionals who relentlessly create and innovate, to stir up unsurpassed services
                                for all clients.</p>

                            <p>Alongside world-class product portfolio, we also offer customized services for both profit and non-profit organizations. By crafting intelligent and efficient systems that tailor to the exclusive needs of wide array of our
                                clients worldwide.
                            </p>
                            <p>We adapt CMMI L5 project management procedure that complies with international standards. Furthermore, we have an exclusive team of certified professionals who relentlessly create and innovate, to stir up unsurpassed services
                                for all clients.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area -->


    <!-- Our Services -->
   {% include "home_app/service.html" %}
   
    <!-- Our Services -->



    <!-- newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="news-box">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="news-title">
                                    <h2>Would you like to start a project with us?</h2>
                                    <p>Interested to start a project, lets talk.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="call">
                                    <a href="#" class="cusbtn">+88 01788 080 419</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- newsletter -->



   

{% endblock body %}

